doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags

        title GitMythx

        <!-- Latest compiled and minified CSS -->
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", crossorigin="anonymous")
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header

                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    |
                    a.navbar-left(href='/')
                        GitMithx



                #navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a(href='/') GitMithx
        .container
            block content
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
